@import "reset.css";

div.container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
header {
    box-sizing: border-box; /*чтобы не высчитывать 112-24*/
    background: linear-gradient(to right, #ffffff, #ebeae6);
    height: 112px;
    padding: 24px 0;
}
header a#logo {
    display: block;
    float: left; /*плавающий блок*/
}
header form {
    float: left;
    margin-left: 100px;
    width: 660px;
    height: 48px;
    padding-top: 8px;
}
header form > input {
    box-sizing: border-box;
    border-radius: 25px;
    width: 660px;
    height: 48px;
    background: #ebeae6;
    color: #4d382a;
    border: none;
    font-size: 16px;
    padding: 0 72px 0 20px;
}
header form > input:focus {
    color: #4d382a;
    outline: none;
}
header form > button {
    width: 32px;
    height: 32px;
    background: url("../img/search.png");
    position: relative;
    top: -40px;
    left: 608px;
}
header a.header_links {
    display: block;
    width: 32px;
    height: 32px;
    float: right;
    margin-left: 40px;
    margin-top: 16px;
}
header a#header_link_user {
    background: url("../img/user.png");
}
header a#header_link_cart {
    background: url("../img/cart.png");
}
main div#top_back {
    background: url("../img/back.jpg") center no-repeat;
    background-size: cover;
    padding: 100px 0 350px 0;
}
main div#top_back h1 {
    font-size: 72px;
    font-family: Century gothic, serif;
    line-height: 80px;
    color: #4d382a;
    width: 50%;
}
main div#top_back p {
    font-size: 20px;
    font-family: Century gothic, serif;
    font-style: oblique;
    line-height: 28px;
    color: #4d382a;
    margin-top: 24px;
}
main h2 {
    font-size: 56px;
    font-family: Century gothic, serif;
    margin: 24px 0;
    color: #4d382a;
}
main > div#services > ul > li > img {
    display: block;
    width: 216px;
    height: 188px;
    float: left;
}
main p#services_text {
    font-size: 18px;
    font-family: Century gothic, serif;
    font-style: oblique;
    margin-bottom: 24px;
    line-height: 24px;
    color: #4d382a;
}
main ul li {
    overflow: hidden;
    margin-bottom: 24px;
}
main ul div {
    float: left;
    margin-left: 24px;
}
main ul h3 {
    font-size: 25px;
    font-family: Century gothic, serif;
    margin: 48px 0 24px 0;
    color: #4d382a;
}
main ul p {
    font-size: 18px;
    font-family: Century gothic, serif;
    font-style: oblique;
    color: #4d382a;
}
main {
    background: linear-gradient(to bottom, #ebeae6, #4828289B);
}
footer {
    background: linear-gradient(to bottom, #8f7c7c, #482828);
}
footer div#copy {
    overflow: hidden;
}
footer div#contacts {
    text-align: center;
}
footer div#contacts span {
    color: #bfa184;
    font-size: 16px;
}
footer > div > div {
    padding: 24px 0;
}
footer div#contacts a {
    margin-left: 40px;
    color: #000000;
    font-size: 16px;
}
footer hr {
    background: #1e1e1e;
    height: 1px;
}
footer div#copy p {
    display: block;
    float: left;
    color: #000000;
    font-size: 16px;
}
footer div#copy span {
    display: block;
    float: right;
    color: #000000;
    font-size: 16px;
}
